.container{
    display: grid;
    grid-template-columns: repeat(20 , 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}